
body
 {
  color: #888;
  font-size: 14px;
  background: #fff;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: normal;
  overflow-x: hidden;
}
.main-fluid {
  width: 100%;
}
@media (max-width: 700px){
  .main-fluid {
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
  }
  }
.top-header 
{
  padding-top: 7px;

}
.top-header ul 
{
  text-align: right;
  border-bottom: 1px solid #f4f1f1;
  padding: 7px 0px;
}
  .header-nav .row
  {
    align-items:center;
  }

ul.list-style-remove
 {
  padding: 0;
  margin: 0;
  list-style: none;
}
.top-header ul li:not(:last-child)
{
  border-right: 2px solid #e5e5e5;
}

.top-header ul li 
{
  display: inline-block;
  padding: 0px 18px;
}
.top-header ul li a 
{
    display: inline-block;
    text-decoration: none;
    color: #888;
    font-size: 15px;
}
a 
{
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s;
}
.top-header ul li a:hover 
{
  color: #11843d;

}
.top-header ul li a i 
{
  display: inline-block;
  color: #11843d;
  margin-right: 5px;
}

.fa, .fas 
{
  font-weight: 900;
}
.fa, .far, .fas 
{
  font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas 
{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.logo-wrapper a 
{
  display: inline-block;
}
nav.site-menu ul li 
{
  display: inline-block;
}
nav.site-menu ul li a 
{
  display: inline-block;
  text-decoration: none;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  padding: 23px 25px;
  position: relative;
}
nav.site-menu ul li:last-child
{
  margin-left: 40px;
}
nav.site-menu ul li a i 
{
  display: inline-block;
  color: #11843d;
}
.logo-wrapper
 {
  display: flex;
  place-self: center;
}
@media (max-width: 1600.98px){
  .top-header ul li a 
  {
      font-size: 14px;
  }
  }
@media (max-width: 991.98px){
.header-nav .col-lg-5
{
    width: 70px;
}
}
@media (max-width: 991.98px) {
.header-nav 
{
    padding: 6px 0px 0px;
}
}
@media (max-width: 991.98px)
{
.header-nav .row 
{
    align-items: flex-start;
}
}
@media (max-width: 991.98px)
{
  .header-nav .row 
{
    flex-wrap: nowrap;
}
nav.site-menu ul li 
{
  display: block;
}
}
.logo-wrapper a 
{
  width: 100%;
  overflow: hidden;
}
nav.site-menu .navbar button.navbar-toggler
{
  line-height: 28px;
}
nav.site-menu .navbar 
{
  justify-content: flex-end;
}

 nav.site-menu ul li a::after
 {
   content:""; background:#11843d; width:100%; height:4px; position:absolute; bottom:0px; left:0px; right:0px; opacity:0;
}
 nav.site-menu ul li a i
 {
   display:inline-block; color:#11843d;
}
 nav.site-menu ul li a:hover
 {
   color:#888;
  }
 nav.site-menu ul li a:hover::after{opacity:1;}
 nav.site-menu ul li:last-child
 {
   margin-left:40px;
  }

.sub-section-img 
{
    position: relative;
}
.img-box 
{
 background-image: url(../img/ptdc-banner.jpg);
 background-position: center top;
 background-repeat: no-repeat;
 padding: 85px 0;
 text-align: center;
 background-size: cover;

}
.img-box h2 
{
    color: #fff;
    font-size: 43px;
    font-weight: 600;
    text-shadow: 0px 0px 20px #000;
}
.text-box h2 {
    font-size: 30px;

  }
@media (max-width: 1199.98px){

  .logo-wrapper a 
{
  width: 38px;
  overflow: hidden;
}
  }

  /* <!-- sub-sention-cites --> */
.subsection-about 
{
 padding: 50px 0px;
}
.text-box 
{
 text-align: center;
}
.text-box h3 
{
  font-size: 28px;
  font-weight: 700;
 color: #11843d;
}

 /* <!-- end sub-sention-cites --> */

 /* <!-- sub-sention-cites-k2 --> */

.sub-section-Management 
{
 padding: 80px 0px;
 background-color:#1db357;
}
.text-box-2 h2
{
 color: #fff;
}
@media (max-width: 700px){

  .text-box-2 h2 {
    color: #fff;
    font-size: 22px;
}
  }
.text-box-2 p 
{
 color: #fff;
 font-size: 14px;
}
 /* <!-- end sub-sention-cites-k2 --> */

 /* <!-- sub-sention-3 --> */

.sub-section-3 
{
  padding: 100px 0;
}
.text-box-3 h2
{
  font-weight: 600;
  font-size: 28px;
  color: #11843d;
}
.text-box-3 p 
{
  font-size: 17px;
  color: #888;
  font-weight: 400;
}
.text-box-4 
{
  padding: 30px;
  border-radius: 10px;
  background-color: #f2f2f2
}


 /* <!-- end sub-sention-3 --> */

 /* <!-- sub-sention-4 --> */

 .sub-section-4 
 {
   padding: 0;
 }
 .text-box-5 h2
 {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 28px;
  color: #11843d;
 }
 .text-box-5 ul 
 {
  padding-left: 20px;
 }
 .text-box-5 ul li  
 {
  font-size:17px;
  color: #11843d;
  margin-bottom: 15px;
 }
 .sub-section-4 span
 {
  font-size: 17px;
  color: #888;
  font-weight: 400;
 }

 /* <!-- end sub-sention-4 --> */

 /* <!-- sub-section-5 --> */
.sub-section-5 
{
 padding: 80px 0px;
}
.sub-section-5 h3 
{
  text-align: center;
  margin-bottom: 60px;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}
.text-box-6 h2
{
  font-weight: 600;
  font-size: 28px;
  color: #11843d;
}
.text-box-7 
{
 background-color: #1db357;
 padding: 30px;
  border-radius: 10px;
  margin-top: 10px;
  height: 562px;
  overflow: auto;
}
.text-box-7 h2
{
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.text-box-7 p
{
 color: #e5e5e5;
 line-height: 1.7;
}
.text-box-7 ul
{
  color: #e5e5e5;
  line-height: 1.7;
  padding: 0px 39px 0px;
}
.text-box-7 li
{
  color: #fff;

}
.text-box-8 
{
  padding: 12px 0px;
}
.card-header a
{
  color: #333333;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer
}
.card-header a::before
{
  background-color: #1db357;
  height: 15px;
  width: 2px;
  content: '';
  position: absolute;
  left: -16px;
  top: 5px;
}
.card-header a::after
{
  background-color: #1db357;
  height: 2px;
  width: 14px;
  content: '';
  position: absolute;
  left: -22px;
  top: 11px;
}


 /* <!-- end sub-section-5 --> */



/* media-qures  mobile size*/
@media (max-width: 700px){

.img-box h2 
{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 0px 0px 20px #000;
}
.image-1 img{
  width: 100%;
}
.text-box-6{
  padding: 30px 0px;
}

}



/* end media-qures  mobile size*/

.main-footer 
{
    background: url(../img/footer.jpg)no-repeat center center / cover;
}
.main-footer-sub-content h1 
{
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  margin: 0px;
  padding-left: 8px;
}
.main-footer-sub-content p 
{
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  padding-left: 8px;
}
.main-footer-sub-content span 
{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-left: 8px;
}

.removeclass 
{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -20px;
}
.main-footer .main-footer-sub
{
  padding: 60px 0px;
}
ul.list-style-remove
{
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-footer-sub-content ul li
{
  padding: 9px 0px;
}
.main-footer-sub-content ul li a
{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.main-footer-sub-content ul li a:hover
{
    color: rgb(38, 167, 66);
}
.main-footer-sub-content  .footer-address span
{
  display: block;
  color: rgb(38, 167, 66);
}
.footer-address
{
  text-align: center;
  background: rgba(255,255,255,0.2);
  border-radius: 9px;
  padding: 15px;
  
}
.main-footer .main-footer-sub 
{
  padding: 75px 0px;
}
.footer-bottom 
{
  background: rgba(0,0,0,0.2);
  padding: 15px 0px
}
@media (max-width: 1000px){
  .main-footer-sub-content ul li
  {
    padding-left: 8px;
  }
  .main-footer-sub-content p 
  {
    padding-left: 8px;
  }
  .main-footer-sub-content h1 
{
  padding-left: 8px;
}
  }
